*.iml
.gradle
gradle
gradlew
gradlew.bat
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/java/com/drummerjun/clarechen/Constants.kt
/app/google-services.json
Constants.kt
google-services.json
.externalNativeBuild
/app/release
/third_party/*/build
/node_modules/
*.apk